:root {
  --header-bg: 9, 7, 140;
  --table-radius: 8px;
  --tbody-odd-bg: rgba(0, 0, 0, 0.05);
  --header-index: 0;
}
table {
  min-width: 600px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: sans-serif;
}
th,
td {
  vertical-align: middle;
  padding: 10px 0;
}
thead > tr > th:first-child {
  border-top-left-radius: var(--table-radius);
}
thead > tr > th:last-child {
  border-top-right-radius: var(--table-radius);
}
thead > tr > th:nth-child(1) {
  --header-index:1;
}
thead > tr > th:nth-child(2) {
  --header-index:2;
}
thead > tr > th:nth-child(3) {
  --header-index:3;
}
thead > tr > th:nth-child(4) {
  --header-index:4;
}
thead > tr > th:nth-child(5) {
  --header-index:5;
}
thead > tr > th{
  background-color: rgba(var(--header-bg), calc(.20*var(--header-index)));
  /* background-color: rgba(var(--header-bg), calc(.25+.15*var(--header-index))); */ /*won't work*/
  color: white;
}
thead th p:nth-child(2) {
  margin-top: 30px;
  font-size: 2em;
  font-weight: bolder;
}
tbody > tr > td:nth-child(odd),
tfoot > tr > th:nth-child(odd) {
  background-color: var(--tbody-odd-bg);
}
tbody > tr:nth-child(odd),
tfoot > tr:nth-child(odd) {
  background-color: var(--tbody-odd-bg);
}
tbody > tr > td {
  text-align: center;
}
tbody > tr > td:first-child {
  padding-left: 20px;
  text-align: left;
}
tfoot button {
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.8em;
}
tfoot > tr > th:first-child {
  border-bottom-left-radius: var(--table-radius);
}
tfoot > tr > th:last-child {
  border-bottom-right-radius: var(--table-radius);
}
